# ==========================
# PYTHON CACHE
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db

# ==========================
# GENERATED GIS OUTPUT
# ==========================
Data/Visualisasi/*.html

