# ==========================
# PYTHON CACHE
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# DATA OUTPUT
# ==========================
*.csv
!Data/Raw/Data_manual.csv

# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db
